.col1{
width:90.5%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .col1{
        width:60%;
        }


   th
   {
     padding: 5px;
     vertical-align: bottom;
     text-align: center;
   }

   th span
   {
     -ms-writing-mode: tb-rl;
     -webkit-writing-mode: vertical-rl;
     writing-mode: vertical-rl;
     transform: rotate(180deg);
     white-space: nowrap;

   }
   .rotate{
     font-size:1em;
     padding:0 0.2rem 0 0.2rem;
     margin: 0 0.2rem 0 0.2rem;
   }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col1{
        width:75%;
        }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

