*{
     color: #eee;
     font-family: Georgia, sans-serif;
     font-size:1em;
     }
a{
    text-decoration: none;
	color: #b5b5b5;
 }
a:hover {
    	color: #3EB2A8;
    	}
.btn {
    font-size:1em;
    margin-bottom: 0.4rem;
    }
.btn{
    border-radius: 50px;
    color: #fff;
    }

body{
background-color: #343239;
}


td button{
float:right;
margin-right:0.4rem;
}


.table{
border: #C4BFBF;
}

.table button{
font-size:1em;
}
.table button{
padding: 0.2rem 0.5rem ;
}
tr:nth-child(even) {
background-color: #46454c;
}


form button{
float:right;
}

.centerbuttons{
width:35%;
margin:0 auto;
}

*{
    font-family: Areal;
}
.dialog{
    visibility:hidden;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.dialog_content{
margin: 200px auto 0px auto;
    width:25%;
    height: 100px;
    padding:10px;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
}

.b-popup .b-popup-content{
    margin: 200px auto 0px auto;
    width:25%;
    height: 100px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.b-popup-content{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size:2em;
}
